{{/* This file is combined with the root.tmpl to display a single article. */}}

{{define "title"}}{{.Doc.Title}} - Go 语言博客{{end}}
{{define "content"}}
	{{template "doc" .Doc}}
	{{with .Doc.Related}}
		<h2>相关文章</h2>
		<ul>
		{{range .}}
			<li><a href="{{.Path}}">{{.Title}}</a></li>
		{{end}}
		</ul>
	{{end}}
{{end}}

